# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages that Data Scientists.
* Commonly used libraries used by Data Scientists.
* Examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. python
2. R language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scipy
4. Matplotlib

|Data Science Tools|
-----------------------------
|Jupyter|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [11]:
m = 200/60

In [12]:
print(m)

3.3333333333333335

## Author
Ali S Algarni